/*Phone*/
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    ul {
    background-color: hotpink;
    list-style: none;
    display: flex;
    flex: column;
}

}



footer {
    background-color: yellow;
}


nav {
    text-decoration: none;
    display: flex;
    flex: row;
    background-color: blue;
    align-content: center;
    position: sticky;
}

nav a:hover {
    color: #FEA502;
}

nav .icon {
    display: flex;
    height: 45px;
    margin-right: 20px;
}


nav a {
    text-decoration: none;
    display: inline;
    padding-right: 30px;
    color: #FFC55C;
}

ul {
    background-color: black;
    list-style: none;
    display: flex;
    flex: row;
}

.nav_items {
    background-color: aqua;
    display: flex;
    margin-left: auto;
    list-style: none;
}







.exercise {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.workouts {
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
}

.exercise-img {
    width: 300px;
}
