footer{
    background-color: yellow;
}


nav {
    display: inline;
    float: right;
    display: block;
    text-decoration: none;
}

nav a {
    display: inline;
    padding-right: 30px;
    text-decoration: none;
    color: #FFC55C;
}

nav a:hover {
    color: #FEA502;
}





.exercise {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.workouts {
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
}

.exercise-img {
    width: 300px;
}
